* {
    margin: 0;
    padding: 0;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

 html {
   background-image: url("https://thumbs.dreamstime.com/b/tile-wall-high-resolution-real-photo-tile-wall-seamless-backgro-background-texture-stone-brick-pattern-building-brick-78687417.jpg");
   background-repeat: no-repeat;
   background-size: 2000px 1000px;
   font-size: 68.5%;
   font-family: fantasy;
   scroll-behavior: smooth;
 }

 ul {
   list-style: none;
 }

 a {
   text-decoration: none;
   color: black;
 }

 .nav {
        =navbar navbar-expand-lg navbar-dark bg-light gradient-custom;   
   display: flex;
   justify-content: center;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 10;
   box-shadow: 0px 0px 30px #7B5391;
 }

 .nav-list {
   display: flex;
   margin-right: 2rem;
 }

 .nav-list a {
   display: block;
   font-size: 2rem;
   padding: 2rem;
 }

 .nav-list a.active,a:hover {
   background: rgb(223, 224, 211) 100%;
   transition: 0.25s;
 }

 #quote {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100vh;
 }

 #quote > img {
   height: 70%;
 }